#latest-posts li a{
  font-size: 0.85em !important;
  text-decoration: none;
}

#latest-posts li {
  margin: 0;
}

#latest-title, #results {
  text-align: center;
  margin: auto;
}
#results h2 {
  font-size: 1em;
  text-decoration: bold;
}

#results a {
  text-decoration: none;
}
#results h4 {
  font-size: 0.75em;
}
#results p {
  margin-bottom: 0.5em;
}
#results a p {
  margin-bottom: 1em
}

form {
  text-align: center;
  margin: auto;
}
form input {
  margin-bottom: 0.5em;
}

.fb_iframe_widget iframe {
  margin-top: 0;
}

.post-footer .share a {
    font-size: 1.8rem;
    display: inline-block;
    margin: 1rem 1.6rem 1.6rem 0;
    color: #BBC7CC;
    text-decoration: none;
}

.post-footer .share .icon-twitter:hover {
    color: #55acee;
}
.post-footer .share .icon-facebook:hover {
    color: #3b5998;
}
.post-footer .share .icon-google-plus:hover {
    color: #dd4b39;
}

.page-title a {
  text-decoration: none;
    text-shadow: 2px 2px grey;
    color: #252120;
}

.page-title a:hover {
  text-decoration: none;
    text-shadow: 2px 2px #252120;
    color: #9B6C64;
}

.post {
  margin-top: 0;
  margin-bottom: 4rem;
}
